  
  .main {

  }
  
  .mainContainer {
    max-width: 1178px;
    margin: 0 auto;
    padding: 43px 10px 43px;
  }
  

  
  .mainH2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .mainContent {
    width: 100%;
    margin: 0 auto;
  }

  .btnHov01:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
  }
  
  .btnHov02:hover {
    background-color: #0080C1;
  }
  
  .cards {
    max-width: 1158px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (270px)[4];
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: 441px;
    grid-gap: 40px 26px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
    scrollbar-color: #FFFFFF #2E2E2E;
    scrollbar-width: thin;
    scrollbar-width: 0px;
    height: 922px;
  }
  
  .cards::-webkit-scrollbar {
    width: 0px;
    background-color: #009EE4;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background-color: #0080C1;
    border-radius: 3px;
  }
  
  
  .footer {
    display: none;
  }
  
  @media screen and (max-width: 1158px) {
    .cards {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (270px)[3];
      grid-template-columns: repeat(3, 270px);
    }
  }
  
  @media screen and (max-width: 890px) {
    .cards {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (270px)[2];
      grid-template-columns: repeat(2, 270px);
    }
  }
  
  @media screen and (max-width: 590px) {
    .container {
      width: 100%;
      min-width: 320px;
      min-height: 100vh;
      background-color: #FFFFFF;
    }
    
    .mainContainer {
      padding: 85px 10px 84px;
    }
    
    .mainH2 {
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-bottom: 20px;
      text-align: center;
      position: relative;
    }

    .mainContent {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: fixed;
      right: 0;
      left: 0;
      top: 134px;
      bottom: 84px;
    }
  
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 137px);
      grid-auto-rows: 293px;
      grid-gap: 10px 10px;
      justify-content: center;
    }

  }
  