.btnHov01:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
  }
  
  .btnHov02:hover {
    background-color: #0080C1;
  }
  .profileContent {
    max-width: 834px;
  }
  
  .profileTitle {
    margin-bottom: 20px;
  }
  
  .profileSettings {
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
  .settingsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 43px;
  }
  
  .settingsImg {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #F0F0F0;
  }
  
  .settingsImg img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .settingsChangePhoto {
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #009EE4;
  }
  
  .settingsRight {
    width: 630px;
  }
  
  .settingsDiv {
    display: inline-block;
    margin: 0 7px 20px;
  }
  
  .settingsForm {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .settingsForm input {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 13px 19px;
  }
  
  .settingsForm input::-webkit-input-placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .settingsForm input:-ms-input-placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .settingsForm input::-ms-input-placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .settingsForm input::placeholder {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .settingsForm label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #C4C4C4;
    margin-bottom: 4px;
    display: block;
  }
  
  .settingsFName,
  .settingsLName,
  .settingsCity {
    width: 300px;
  }
  
  .settingsPhone {
    width: 614px;
  }
  
  .settingsBtn {
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    width: 154px;
    height: 50px;
    margin: 10px 7px 0;
    background-color: #009EE4;
    border-radius: 6px;
    border: 1px solid #009EE4;
  }

  .error {
    /* display: flex;
    width: 100%; */
    justify-content: center;
    align-items: center;
    color: rgb(255, 128, 113);
    /* font-size: 1rem;
    font-weight: 400;
    top: 70px;
    left: 5px; */
    text-align: center;
    margin-top: 10px;
  }

  @media screen and (max-width: 890px) {
    .profileContent {
      max-width: 834px;
      width: 100%;
    }
    .profileSettings {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
      min-width: 320px;
    }
    .logoMobLink {
      display: block;
      width: 32px;
      height: 32px;
    }
    .logoMobImg {
      width: 32px;
      height: auto;
      display: block;
      objectFit: cover;
    }
    /* .mainContainer {
      padding: 85px 0px 84px;
    } */

    .title {
      fontSize: 18px;
      lineHeight: 1;
    }
    .settingsLeft {
      display: flex;
      flexDirection: column;
      alignItems: center;
      marginRight: 0;
    }
    .settingsImg {
      width: 132px;
      height: 132px;
    }
    .settingsRight {
      width: 100%;
    }
    .settingsDiv {
      display: inline-block;
      margin: 0 0px 18px;
    }
    .settingsForm {
      width: 100%;
      display: flex;
      flexDirection: column;
    }
    .settingsFormInput {
      borderRadius: 30px;
      padding: 9px 17px;
    }
    .settingsFormInputPlaceholder {
      fontSize: 14px;
      lineHeight: 21px;
    }
    .settingsFormLabel {
      fontSize: 14px;
      lineHeight: 21px;
      color: #c4c4c4;
      marginBottom: 6px;
    }
    .settingsFName,
    .settingsLName,
    .settingsCity {
      width: 100%;
    }
    .settingsPhone {
      width: 100%;
    }
    .settingsBtn {
      fontSize: 16px;
      lineHeight: 1;
      width: 100%;
      height: 46px;
      margin: 8px 0px 0;
    }
 
  
  }
  