.wrapModal {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}

.wrapModal.active {
    transform: scale(1);
}

.contentModal {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 300px;
    width: 360px;
    position: absolute;
    top: 450px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.contentModal.active {
    transform: scale(1);
}